@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Montserrat:wght@300;700&family=Roboto:wght@300&display=swap");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --title-font: montserrat;
  --text-font: roboto;
  --color-1: royalblue;
  --title-color: white;
  --bg-head: linear-gradient(to right, #e65c00, #f9d423);
}
body {
  margin: 10vh 10vw;
}
h1 {
  font-size: 56px;
}
p {
  font-size: 24px;
}
li {
  font-size: 18px;
  font-weight: 700;
}
button {
  font-weight: 700;
  font-size: 18px;
}
